<nav class="top-0 absolute z-50 w-full flex justify-end p-2 bg-slate-900 shadow-md text-white pl-4">
  <ul class="flex gap-4">
    <li>
      <a routerLink="'/pokemons'" routerLinkActive="bg-blue-700"
        class="p-2 hover:bg-blue-900 hover:underline">Pokemons</a>
    </li>
    <li>
      <a [routerLink]="['/about']" routerLinkActive="bg-blue-700"
        class="p-2 hover:bg-blue-900 hover:underline">About</a>
    </li>
    <li>
      <a [routerLink]="['/pricing']" routerLinkActive="bg-blue-700"
        class="p-2 hover:bg-blue-900 hover:underline">Pricing</a>
    </li>
    <li>
      <a [routerLink]="['/contact']" routerLinkActive="bg-blue-700"
        class="p-2 hover:bg-blue-900 hover:underline">Contact</a>
    </li>
  </ul>



</nav>