<div class="grid grid-col-1 gap-3 sm:grid-cols-3 md:grid-cols-5">

  @for (item of ('12345678911'); track $index) {
  <div class="h-44 bg-white/25 rounded-lg shadow-md flex flex-col p-4 items-center justify-center cursor-pointer">

    <!-- imagen del pokemon -->
    <div class="rounded-full animate-pulse bg-gray-300 w-24 h-24"></div>


    <!-- nombre del pokemon -->
    <div class="flex text-center mt-5">
      <div class="h-4 w-20 bg-gray-300 rounded animate-pulse"></div>
    </div>
  </div>
  }

</div>